In [2]:
# Tuple: Ordered collection of object enclosed within parantheses
ls = (2, 4, 5, 6)
print(ls, type(ls))

(2, 4, 5, 6) <class 'tuple'>

In [9]:
# tuple with single element 
# st = (2)
st = (2,)
print(st, type(st))

(2,) <class 'tuple'>

In [16]:

st2 = (2, 4)
out = (2, 3, 45, 23) + st2
print(out, type(st))

(2, 3, 45, 23, 2, 4) <class 'tuple'>