In [2]:
# Methods in List
ls = [34, 5, 3]

In [9]:
# Mathods in list which increase the length of the list 
# append(): add the element at the end of the list 
ls = [2, 5]
ls.append(100)
ls.append(100)
ls.append('hello')
ls.append([0, 1])
# print(ls.append(300))
print(ls)

[2, 5, 100, 100, 'hello', [0, 1]]

In [16]:
st = [1, 3]
print(st.append(100))

None

In [24]:
# extend(): add the list of elements or new sequence to the current list 
ls = [1, 2]
ls.extend([10, 20, 30, 40])
ls.extend('hello')
ls.extend(range(100, 120))
# ls.extend(100)  # Error 'int' 100 object is not iterable
print(ls)

[1, 2, 10, 20, 30, 40, 'h', 'e', 'l', 'l', 'o', 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119]

In [26]:
# insert(index, val): insert the element at custom index in a list 
ls = [1, 2, 4, 6]
ls.insert(2, 300)
print(ls)

[1, 2, 300, 4, 6]

In [27]:
ls = [1, 2, 3]
ls.insert(-1, 300)
print(ls)

[1, 2, 300, 3]

In [34]:
ls = [1, 2, 'hello']
out1 = ls[-1]
ls.insert(-1, 100)
out2 = ls[-1]
print(out1)
print(out2)
print(ls)
# print(ls)

hello
hello
[1, 2, 100, 'hello']

In [46]:
#
ls = [2, 4, 6]
ls.insert(-1, 'hello')
print(ls)

[2, 4, 'hello', 6]

In [51]:
# remove()/pop()/clear(): Methods in a list which decrease the length 
# remove(): remove the element by its value with first match 
ls = [1, 2, 3, 4, 5, 3, 'hello']
val = 3
ls.remove(val)
print(ls)

[1, 2, 4, 5, 3, 'hello']

In [56]:
# Remove all match values 
ls = [1, 2, 3, 4, 5, 3, 'hello', 3]
val = 3
ls.remove(val)
ls.remove(val)
ls.remove(val)
print(ls)

[1, 2, 4, 5, 'hello']

In [63]:
# why result is Wrong 
ls = [1, 2, 3, 4, 3, 3]
val = 3
for i in ls:
    if i == val:
        ls.remove(val)
print(ls)

[1, 2, 4, 3]

In [68]:
# pop(): remove the custom value by index or default last and return 
ls = ['abhay', 'rinki', 'aditya', 'kartik']
out = ls.pop(1)
print(out)
print(ls)

rinki
['abhay', 'aditya', 'kartik']

In [20]:
count = 0
for i in range(4):
    for j in range(i, 4):
        count += 1
print(count)

10

In [2]:
# list : Collection of object enclosed within square brackets 
ls = [10, 23, 'hello', 2+3j, 2.55]
print(ls, type(ls))

[10, 23, 'hello', (2+3j), 2.55] <class 'list'>

In [ ]:
marks = [12, 23, 4, 12, 22, 25, 20]

In [10]:
# Methods in a list
# append()/extend()/insert()
# append(): add the element at the end of the current list  
lst = [12, 13]
lst.append(100)
lst.append(100)
lst.append('hello')
print(lst)

[12, 13, 100, 100, 'hello']

In [14]:
# Extend: add the list of elements or elements from seq at end of the list 
lst = [1, 2, 4]
lst.extend('hello')
# lst.extend(10)  # error 
lst.extend([10, 20])
print(lst)

[1, 2, 4, 'h', 'e', 'l', 'l', 'o', 10, 20]

In [ ]:
# insert()

In [9]:
st = 'hello'
st.upper()
print(st)

hello

In [6]:
num = 20
fact = 1
for i in range(1, num+1):
    fact *= i
print(fact)

2432902008176640000

In [ ]:
# 

for i in input().split():
    print(int(i[::-1]), end=' ')

In [4]:
st ='hello'
r='llohe'
c=0
for i in range(len(r)):
    p=''
    p=p+st[i:]
    p+=st[:i]
    if p==r:
        pass
    else:
        c+=1
if c==0:
    print("Yes it is a rotation")
else:
    print("Not rotation")

Not rotation

In [3]:
st = 'hello'
st2 = 'llohe'
if len(st)==len(st2) and st2 in (st + st):
    print("They are rotations")
else:
    print("They are not rotations")

They are rotations

In [5]:
st = 'banana'
sm = 'banana'
ls = []
for i in range(1, len(st)+1):
    p = ''
    c = st[len(st)-i:]
    p += c
    p += st[:len(st)-i]
    ls.append(p)
print(sm in ls)

True

In [4]:

# Methods 

# remove()/pop()/clear(): Methods that decreased the length of the current list 
ls = ['abhishek', 'tanya', 'ayush', 'zoya', 'shruti']
ls.remove('tanya')
print(ls)

['abhishek', 'ayush', 'zoya', 'shruti']

In [13]:
# pop() remove value by Index
ls = ['abhishek', 'tanya', 'ayush', 'zoya', 'shruti']
print('Before', ls)
# ls.pop(1)
# ls.pop()  # default index is the last index
# ls.pop(5)   # Index error (index out of range) 
print('After', ls)

Before ['abhishek', 'tanya', 'ayush', 'zoya', 'shruti']
After ['abhishek', 'tanya', 'ayush', 'zoya', 'shruti']

In [14]:
ls = ['python']
ls.pop()
# ls.pop()  # Error just because of empty list 
print(ls)

[]

In [17]:
# pop(): also return deleted value 
ls = ['abhishek', 'tanya', 'ayush', 'zoya', 'shruti']
out = ls.pop(0)
print(out)
print('Updated list', ls)

abhishek
Updated list ['tanya', 'ayush', 'zoya', 'shruti']

In [20]:
# clear(): remove all the elements 
ls = ['abhishek', 'tanya', 'ayush', 'zoya', 'shruti']
print(id(ls))
ls.clear()  # 
ls.append(100)
print(id(ls))
print(ls)

4728902464
4728902464
[100]

In [23]:
ls = [12, 34, 56, 78]
print(ls.clear())  # output None
print(ls)  # Empty

None
[]

In [26]:
# Methods that return Integer Value 
# index()/count()
ls = [1, 2, 3, 3, 2, 4]
out = ls.count(10)
print(out)

0

In [29]:
ls = [100, 'abhishek', 'tanya', 'ayush', 'zoya', 'shruti']
out = ls.index('tanya')
print(out)

2

In [34]:
# sort()/reverse()
ls = ['abhishek', 'tanya', 'ayush', 'zoya', 'shruti']
ls.sort(reverse=True)
print(ls)

['zoya', 'tanya', 'shruti', 'ayush', 'abhishek']

In [36]:
ls = ['abhishek', 'tanya', 'ayush', 'zoya', 'shruti']
ls.sort(key=len)
print(ls)

['zoya', 'tanya', 'ayush', 'shruti', 'abhishek']

In [37]:
# reverse(): 
ls = ['abhishek', 'tanya', 'ayush', 'zoya', 'shruti']
ls.reverse()
print(ls)

['shruti', 'zoya', 'ayush', 'tanya', 'abhishek']

In [45]:
# Copy(): return the shallow copy of current list 
ls = ['abhishek', 'tanya', 'ayush', 'zoya', 'shruti', [2, 4]]
ls2 = ls.copy()
ls2.clear()
print(ls2, id(ls2))
print(ls, id(ls))

[] 4728078912
['abhishek', 'tanya', 'ayush', 'zoya', 'shruti', [2, 4]] 4728094976

In [50]:
ls = ['abhishek', 'tanya', 'ayush', [2, 4]]
ls2 = ls.copy()

ls[-1].append(100)
ls2[-1].clear()
ls.pop()
print(ls2)
print(ls)

['abhishek', 'tanya', 'ayush', []]
['abhishek', 'tanya', 'ayush']

In [53]:
ls = ['abhishek', 'tanya', 'ayush', [2, 4]]
ls2 = ls.copy()

ls2[-1].append(10)

print(ls)

['abhishek', 'tanya', 'ayush', [2, 4, 10]]

In [56]:
ls2[-1]

[]

In [55]:
ls3 = [0, 1]
ls3.append(ls2[-1])
ls3[-1].clear()
print(ls3)

[0, 1, []]

In [62]:
ls = [1, 2, []] * 2
print(ls)

[1, 2, [], 1, 2, [], 1, 2, [], 1, 2, []]

In [69]:
ls = [3, 3, 4, 6, 'hello', 3]
target = 3
for i in ls:
    if i == target:
        ls.remove(i)
print(ls)

[4, 6, 'hello', 3]

In [82]:
ls = [1, 3, 3, 3, 3, 3, 3, 2, 3, 4, 5, 3]
target = 3
cc = ls.count(target)
for i in range(cc):
        ls.remove(3)
print(ls)

[1, 2, 4, 5]

In [75]:
x = 'hello'
for i in x:
    print(i, end=' ')
    x = 12

h e l l o