In [ ]:
st1 = 'listen' 
st2 = 'silent'
if sorted(st1) == sorted(st2):
    pass
else:
    pass

In [ ]:
st = ['eat', 'tan', 'tea', 'ate', 'nat', 'bat']

for i in range(len(st)):
    for j in range(len(st)):
        if i != j:
            st[i]
            st[j]

In [ ]:
# Patterns 
# triangle 
'''
1. forward triangle
*
**
***
****
*****

    *
   **
  ***
 ****
*****
'''

In [ ]:
'''
2. Backward Triangle 
****
***
**
*

****
 ***
  **
   *
'''

In [ ]:
rows = 5

'''
*
**
***
****
*****
'''
for i in range(1, rows+1):
    print()

In [14]:
# Expression (i): for all forward triangle
rows = 5
for i in range(1, rows+1):
    for j in range(i):
        print('*', end='')
    print()

*
**
***
****
*****

In [ ]:
# Backward Triangle 
'''
*****
****
***
**
*
'''

In [16]:
# Expression for backward triangle (rows-i+1)
rows = 5
for i in range(1, rows+1):
    for j in range(rows-i+1):
        print('*', end='')
    print()

*****
****
***
**
*

In [ ]:
'''
    *
   **
  ***
 ****
*****
'''

In [22]:
rows = 6
for i in range(1, rows+1):
    for j in range(rows-i):
        print(' ', end='')
    for j in range(i):
        print('*', end='')
    print()

     *
    **
   ***
  ****
 *****
******

In [ ]:
'''
     *
    ***
   *****
  *******
 *********
***********

'''

In [29]:
rows = 6
for i in range(1, rows+1):
    for j in range(rows-i):  # 
        print(' ', end='')
    for j in range(2*i-1): 
        print('*', end='')
    print()

     *
    ***
   *****
  *******
 *********
***********