In [1]:
# Dictionary in Python 

# How to initialize dict object 
dct = {}   # dict format
dct = dict()  # function dict 
print(dct)

{}

In [2]:
# dictionary with items 
marks = {'rahul':23,'amit':45, 'sanjay':66, 'abhishek':89}
print(marks)

{'rahul': 23, 'amit': 45, 'sanjay': 66, 'abhishek': 89}

In [5]:
# operations 
marks = {'rahul':23,'amit':45, 'sanjay':66, 'abhishek':89}
out = marks['amit']
print(out)

45

In [7]:
marks = {'rahul':23,'amit':45, 'sanjay':66, 'abhishek':89}
marks['amit'] = 2 
print(marks)

{'rahul': 23, 'amit': 2, 'sanjay': 66, 'abhishek': 89}

In [8]:
marks = {'rahul':23,'amit':45, 'sanjay':66, 'abhishek':89}
marks['rajat'] = 23 
print(marks)

{'rahul': 23, 'amit': 45, 'sanjay': 66, 'abhishek': 89, 'rajat': 23}

In [13]:
marks = {'rahul':23,'amit':45, 'sanjay':66, 2.0: 100}
marks[2] = 23 
print(marks)

{'rahul': 23, 'amit': 45, 'sanjay': 66, 2.0: 23}